@import "bootstrap/bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-primary: "Poppins", Arial, sans-serif;
$primary: #fc7fb2;

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: lighten($black, 50%);
}
a {
  transition: 0.3s all ease;
  color: $primary;
  &:hover,
  &:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
  }
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-primary;
  color: $black;
}

.bg-primary {
  background: $primary !important;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}
.ftco-no-pb {
  padding-bottom: 0;
}
//HEADING SECTION
.heading-section {
  font-size: 28px;
  color: $black;
}

//COVER BG
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-navbar-light {
  background: #fff !important;
  z-index: 3;
  padding: 10px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);

  @include media-breakpoint-down(md) {
    background: $black !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }

  .navbar-brand {
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    &:hover,
    &:focus {
      color: $black;
    }
    @include media-breakpoint-down(md) {
      color: $white;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      padding-bottom: 10px;
    }
    > .nav-item {
      > .nav-link {
        font-size: 14px;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
        color: lighten($black, 20%);
        position: relative;
        &:hover {
          color: $primary;
        }
        opacity: 1 !important;
        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          color: rgba(255, 255, 255, 0.7);
          &:hover {
            color: $white;
          }
        }
      }

      .dropdown-menu {
        border: none;
        background: $white;
        -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        border-radius: 4px;
        padding: 0;
        .dropdown-item {
          font-size: 12px;
          color: $black;
          &:hover,
          &:focus {
            background: $primary;
            color: $white;
          }
        }
      }

      &.cta {
        > a {
          color: $white;
          background: $primary;
          border-radius: 0px;
          @include media-breakpoint-down(sm) {
            padding-left: 15px;
            padding-right: 15px;
          }
          @include media-breakpoint-down(md) {
            color: $white;
            background: $primary;
            border-radius: 4px;
          }
        }
      }
      &.active {
        > a {
          color: $primary;
          @include media-breakpoint-down(md) {
            color: $white;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    &:focus {
      outline: none !important;
    }
  }
}

.social-media {
  p {
    a {
      border: 1px solid lighten($black, 90%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 4px;
      span {
        color: lighten($black, 30%);
      }
      &:hover {
        background: $primary;
        border-color: $primary;
        span {
          color: $white;
        }
      }
      @include media-breakpoint-down(md) {
        border-color: $white;
        width: 30px;
        height: 30px;
        span {
          color: $white;
        }
      }
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: #fbfbfb;
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #777;
}
h1,
h4 {
  font-family: "Montserrat", sans-serif;
}
.row {
  padding: 50px 0;
}
.seperator {
  margin-bottom: 30px;
  width: 35px;
  height: 3px;
  background: #777;
  border: none;
}
.title {
  text-align: center;

  .row {
    padding: 50px 0 0;
  }

  h1 {
    text-transform: uppercase;
  }

  .seperator {
    margin: 0 auto 10px;
  }
}
.item {
  position: relative;
  margin-bottom: 30px;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .item-in {
    background: #fff;
    padding: 40px;
    position: relative;

    &:hover:before {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 0%;
      background: #333333;
      right: 0px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
    }
  }
}
.item {
  h4 {
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    font-size: 12px;
  }
  a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;

    i {
      opacity: 0;
      padding-left: 0px;
      transition: 0.4s;
      font-size: 24px;
      display: inline-block;
      top: 5px;
      position: relative;
    }

    &:hover {
      text-decoration: none;
      i {
        padding-left: 10px;
        opacity: 1;
        font-weight: 300;
      }
    }
  }
}
.item .icon {
  position: absolute;
  top: 27px;
  left: -16px;
  cursor: pointer;
  a {
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    text-transform: none;
  }
  svg {
    width: 32px;
    height: 32px;
    float: left;
  }
  .icon-topic {
    opacity: 0;
    padding-left: 0px;
    transition: 0.4s;
    display: inline-block;
    top: 0px;
    position: relative;
  }
  &:hover .icon-topic {
    opacity: 1;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .item .icon {
    position: relative;
    top: 0;
    left: 0;
  }
}
